{{ user.name }}님, 환영합니다.
<br>가입 확인을 위해 아래 승인 버튼을 클릭해 주세요.
{#<br><a href="{{ base_url() }}{{ path_for('confirm', { 'confirm_code': user.confirmCode }) }}">[승인]</a>#}
<br><a href="{{ base_url() }}/confirm/{{ user.confirmCode }}">[승인]</a>